.topo h1{
  background-color: rgb(197, 197, 197); 
  width: 100%;             
  text-align: center;     

}

i#burguer {
  background-color: rgb(52, 98, 176);
  display: inline;
  color: white;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

i#burguer:hover {
  background-color: black;
  color: white;
}

#menu {
  display: none;
}

ul >li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  background-color: rgb(52, 98, 176);
  color: white;
  border-top: 2px solid gray;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topo span {
  background-color:rgb(52, 98, 176);
  color: white;
  padding: 10px;
}